---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/textsearch/json?key=AIzaSyAu8lEPdQqG0pLMj49uwLVli32zwEd0afQ&query=george%20washington%20OH
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" : [],
           "results" : [
              {
                 "formatted_address" : "400 Pennsylvania Ave, Marion, OH 43302, United States",
                 "geometry" : {
                    "location" : {
                       "lat" : 40.58358820000001,
                       "lng" : -83.10419619999999
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 40.58359925000002,
                          "lng" : -83.10385244999999
                       },
                       "southwest" : {
                          "lat" : 40.58355504999999,
                          "lng" : -83.10522745
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/school-71.png",
                 "id" : "02fed04bc2efed487aa090778824ed87ffc6b9d5",
                 "name" : "George Washington Elementary School",
                 "place_id" : "ChIJ5ZptHJkaOYgRTHUI44s9ZkU",
                 "reference" : "CoQBdgAAAOjTCuQkU-rcIiB8U5c4IPl4FXgOfP0unUDQ3IvYNPZjwlr-rQqrrCFNRBzpvFnaOjCaY9OppIOBrllg_po6BFKy5KRam8BI9zGhCeid36EHfQzLLOb3Fu__JEtTpz484e1uvgdKzgyFcz4xT1x8K_45wCntbei0fQM_lawr9QFcEhDD-NvjuqXMPNwETaf8HHq0GhSP3pd568Z3xnwnbwqq6JRD1pYy8g",
                 "types" : [ "school", "point_of_interest", "establishment" ]
              },
              {
                 "formatted_address" : "2200 E 55th St, Cleveland, OH 44103, United States",
                 "geometry" : {
                    "location" : {
                       "lat" : 41.4989284,
                       "lng" : -81.65281259999999
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 41.49897605,
                  [...]
