{
    "presets": [
        "babel-preset-env",
        "babel-preset-react",
        "babel-preset-stage-0"
    ],
    "plugins": [
        "babel-plugin-syntax-trailing-function-commas",
        "babel-plugin-transform-decorators-legacy",
        "babel-plugin-transform-class-properties",
        "babel-plugin-transform-object-rest-spread",
        "babel-plugin-transform-react-constant-elements",
    ]
}
