!!! html
%html{:lang => 'en'}
  %head
    %meta{:charset => 'utf8'}
    
  %body
  
    %h1
      Welcome!
      
    %p
      Hi #{@user.name}!
      
    %p
      You've successfully signed up for Drive the Vote. When your polling place has been officially confirmed we'll let you know where it is, and try to match you to a rider/driver.
      
    %ul
      %li Sentence overview of site
      %li Campaign info?
      %li Different welcome emails for drivers and riders
      %li Safety information
      %li Tell them they can browse, we'll send notifications when the election approaches
      %li Links to dashboard, and to settings
      %li Point them to the blog, suggest they subscribe
      %li Ask them to share on Facebook, and Twitter