!!! Strict
%html{:lang => 'en'}
  %head
    %meta{:charset => 'utf8'}
    
    :css
      /* from https://github.com/seanpowell/Email-Boilerplate/blob/master/email.html */
      table td {border-collapse: collapse;}
    
  %body{style: 'font-family: Sans-Serif;'}
  
    %h1
      Welcome!
      
    %p
      Hi #{@user.name}, thanks for signing up to Drive the Vote. When the election nears we'll let you know where your polling place is, and if you're looking for a ride or have volunteered to drive we'll try and match you with someone in the vicinity.
      
    %p
      In the meanwhile, please #{link_to 'subscribe to the DtV blog', 'https://blog.drive.vote'} for occasional posts about elections and the electoral process.
      
    %p
      Do you know others who may want to give or get a ride to the polls? Share DTV! 
      
    %p
      <a href="http://twitter.com/intent/tweet?url=http://www.drive.vote&amp;via=campaignmonitor&amp;related=yarrcat" target="_blank">Share on Twitter!</a>
      &nbsp;|&nbsp;
      
      = link_to 'Share on Facebook!', 'http://www.facebook.com/sharer/sharer.php?u=http://www.drive.vote', target: '_blank'
      

-# different rider/driver/other emails
-# Primary CTA: share on FB and/or Twitter
-# Secondary: Sign up for blog
-# Tertiary: manage account, whitelist our email