---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=XXX,%20Kissimmee,%20FL%2034747,%20USA,%20,%20,%20xx,%2034747,%20&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "34747",
                       "short_name" : "34747",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "Kissimmee",
                       "short_name" : "Kissimmee",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Florida",
                       "short_name" : "FL",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Kissimmee, FL 34747, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 28.38033,
                          "lng" : -81.52119399999999
                       },
                       "southwest" : {
                          "lat" : 28.2593129,
                          "lng" : -81.661602
                       }
                    },
                    "location" : {
                       "lat" : 28.3430219,
                       "lng" : -81.5815776
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 28.38033,
                          "lng" : -81.52119399999999
                       },
                       "southwest" : {
                          "lat" : 28.2593129,
                          "lng" : -81.661602
                       }
                    }
                 },
                 "partial_match" : true,
                 "place_id" : "ChIJl6qhfER53YgR80kL-liOJbU",
                 "postcode_localities" : [ "Celebration", "Kissimmee" ],
                 "types" : [ "postal_code" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Thu, 13 Oct 2016 08:45:49 GMT
recorded_with: VCR 3.0.3
