/* Layout */

h1,
h2,
h3 {
    margin-top: 0;
}

h2 {
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
}

h3 {
    font-size: 16px;
    font-weight: 500;
    margin-top: 0;
}

h4 {
    font-size: 16px;
    margin-top: 0;
}

p {
    font-size: 14px;
    line-height: 20px;
}

.container {
    max-width: 600px;
}

.container .jumbotron {
    border-radius: 0;
}


.jumbotron p {
    line-height: 25px;
}

label {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
}

.fa-5x {
    font-size: 100px;
}

#root {
    .label {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    line-height: 2.3;
    color: #34495e;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    padding: 0;
    }
}

/* Utilities */

.p-y {
    padding-top: 1em;
    padding-bottom: 1em;
}

.p-t {
    padding-top: 1em;
}

.p-y-sm {
    padding-top: .75em !important;
    padding-bottom: .75em !important;
}

.p-y-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.p-l {
    padding-left: 1em;
}

.p-l-md {
    padding-left: 2em;
}

.p-l-0 {
    padding-left: 0;
}

.p-b {
    padding-bottom: 1em;
}

.p-r {
    padding-right: 1em;
}

.p-x-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.p-a-0 {
    padding: 0 !important;
}

.m-t {
    margin-top: 1em;
}

.m-t-md {
    margin-top: 2em !important;
}

.m-b {
    margin-bottom: 1em;
}

.m-b-0 {
    margin-bottom: 0;
}

.m-r {
    margin-right: 1em;
}


/* Utilities */

.fa-spin {
    -webkit-animation: fa-spin 9s infinite linear;
    animation: fa-spin 9s infinite linear;
}

.position-error {
    font-size: 30px;
    left: 15px;
    bottom: -10px;
}

.logo {
    width: 50px;
}

.nav-links {
    font-size: 12px;
}

.bottom-controls.fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2rem 1.5rem 1.5rem;
    background: white;
}

.bottom-controls.fixed:before {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(206, 206, 206, .8) 20px);
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100%;
    height: 20px;
}

.bottom-controls.secondary {
    margin-top: 2em;
}

.bottom-controls .btn {
    display: block;
    width: 90%;
    margin: 0 auto;
}

.bottom-controls.fixed .btn {
    width: calc(90% - 37px);
    float: left;
}

.bottom-controls .btn:nth-child(2) {
    margin-top: 2rem;
}

.btn {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 8px;
}

.btn-sm {
    font-size: 12px;
    margin-top: 14px;
}

.btn-sm i {
    font-size: 18px;
    float: left;
    padding-right: 6px;
    margin-top: -2px;
}

.btn-lg {
    padding: 1em 2em;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.btn-gray {
    background: rgb(226, 226, 226);
    color: #3498db;
}

.btn-gray i {
    color: rgb(155, 155, 155);
}

.btn-secondary {
    background: white;
    border: 1px solid rgb(163, 163, 163);
    color: #3498db;
}

.btn-secondary:hover {
    color: #3498db;
    background: #f2f2f2;
}

.fetching .btn-api {
    opacity: .5;
    pointer-events: none;
    position: relative;
}

.fetching .btn-api:after {
    content: "\f110";
    font-family: 'FontAwesome';
    animation: fa-spin 2s infinite linear;
    position: absolute;
    right: 22px;
}

.directionsLink {
    background: none;
    color: rgb(75, 145, 220);
    font-size: 12px;
    letter-spacing: 1px;
    margin-top: 24px;
    font-weight: bold;
    text-transform: uppercase;
    float: right;
}

.directionsLink i {
    display: block;
    font-size: 40px;
    text-align: center;
}

.btn-outline {
    border: 2px solid #e74c3c;
    &:hover {
        background: #e74c3c;
    }
}


/* Rides */

.panel {
    padding: 3rem 2rem;
    border: none;
    border-radius: 0;
    background: rgb(239, 239, 239);
    margin: 0;
    position: relative;
}

.panel-full {
    position: fixed;
    width: 100%;
    height: calc(100% - 53px);
    bottom: 0;
    left: 0;
    z-index: 100;
    overflow-y: scroll;
}

.panel:nth-child(even) {
    background: rgb(247, 246, 247);
}

.panel-full {
    z-index: 99;
}

.rideDetails h3,
.panel-full h3 {
    margin-bottom: 4px;
}

.panel-list {
    background: rgb(239, 239, 239);
    padding: 0;
}

.pendingArrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 50px;
    color: gray;
    right: 12px;
    opacity: .4;
}

.pending-ride h3 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: .5rem;
}

.pending-ride h4 {
    margin-bottom: .5rem;
}

.pending-ride {
    padding: 1rem 1.5rem;
}

.pending-ride p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.special-requests {
    font-weight: bold;
    color: #34495e !important;
}

p.display-2 {
    font-size: 16px;
    line-height: 23px;
}

p.display-3 {
    font-size: 16px;
    line-height: 20px;
}

.pending-ride p {
    font-size: 12px;
    color: rgba(93, 95, 98, 1);
    margin: 0;
}

.dispatcher-match {
    background: linear-gradient(to bottom, rgb(246, 230, 85) 0%, white 140px);
    background-repeat: no-repeat;
    background-position: top;
}

.secondary-info p {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
}

.banner {
    font-weight: bold;
    color: white;
    padding: 1em .5em;
}

.banner-success {
    background: rgb(38, 204, 124);
}

.errorBanner {
    position: fixed;
    bottom: 5px;
    background: #e74c3c;
    padding: 6px 8px;
    z-index: 999;
    left: 5px;
    right: 5px;
    border-radius: 4px;
    line-height: 20px;
    font-size: 16px;
    color: white;
    font-weight: lighter;
}

.errorBanner a {
    color: white;
}

@media (min-width: 600px) {
    .container .jumbotron,
    .panel {
        border-radius: 6px;
    }
    .bottom-controls .btn {
        max-width: 400px;
    }
}


/* Animation */

.banner-appear {
    opacity: 0.01;
}

.banner-appear.banner-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
}

.banner-leave {
    opacity: 1;
}

.banner-leave.banner-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

.activeRide-appear {
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.dispatchMatch-appear {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeOutLeft {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes fadeOutLeft {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }
    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }
    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}