files:
    "/opt/elasticbeanstalk/hooks/appdeploy/post/9999_set_up_swap":
        mode: "000777"
        owner: root
        group: root
        content: |
            #!/usr/bin/env bash

            if [ -f /opt/elasticbeanstalk/support/.post-swap-complete ];
            then
               echo "Skipping swap installation."
            else
               echo "Starting swap installation."

               touch /opt/elasticbeanstalk/support/.post-swap-complete
               /bin/dd if=/dev/zero of=/var/swap.1 bs=1M count=2048
               /sbin/mkswap /var/swap.1
               /sbin/swapon /var/swap.1

               echo "Swap installation done."
            fi

commands:
    01install_git:
        command: "yum -y install git"
