%ul.nav.nav-tabs
  %li= link_to 'Admin', admin_path
  %li{class: (active == 'elections') ? 'active' : ''}= link_to 'Elections', admin_elections_path
  %li{class: (active == 'campaigns') ? 'active' : ''}= link_to 'Campaigns', admin_campaigns_path