:css
  #user-filter { margin: 0 0 20px 0;}
  #user-search { display: inline;}
  td { font-size: 14px; }

= render 'admin/nav', {active: 'conversations'}

%h1
  Conversations

= render partial: 'admin/conversations/table', locals: {conversations: @conversations, include_show: true}