:css
  h4, h6 { margin-top: 30px; }

:javascript
  // function send_reply(url) {
  //   var args = {'message' : {'body': $('#body').val()}};
  //   $.ajax(url, {type: 'POST', dataType: 'json', data: args, process_data: false, content_type: 'application/json'})
  //     .success(function() { location.reload(); });
  // }

= render 'admin/nav', {active: 'conversations'}

%h4
  Conversation #{@conversation.id}
= render partial: 'admin/conversations/table', locals: {conversations: [@conversation], include_show: false}

%h4
  Messages

= render partial: 'messages'