/* Layout */

.container {
    max-width: 600px;
}

.nearby {
  font-size: 20px;
  font-weight: bold;
  font-color: #777;
  padding-bottom: 10px;
}

.panel-ride {
  padding: 12px;
  font-size: 14px;
  color: #aaa;
}

.panel-detail {
  font-weight: bold;
  font-size: 16px;
  color: #333;
}

.panel-detail-lg {
  font-weight: bold;
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.tw_px_bot {
  margin-bottom: 10px;
}

.drk-gray {
  color: #333;
}

.lt-gray {
  color: #aaa;
}

.btn-bottom {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translate(-50%, 0);
}

.btn-ride {
  margin-bottom: 15px;
}

.btn-call {
  width: 46%;
  margin-right: 5%;
}

.btn-sms {
  width: 46%;
}

.btn-nrby-call {
  width: 30%;
  margin-right: 2%;
}

.btn-nrby-sms {
  width: 30%;
  margin-right: 2%;
}
.btn-nrby-accept {
  width: 35%;
}




label{
	display: block;
}

.fa-5x{
	font-size: 100px;
}


/* Utilities */

.p-y {
    padding-top: 1em;
    padding-bottom: 1em;
}

.p-b {
    padding-bottom: 1em;
}

.m-b {
    margin-bottom: 1em;
}


/* Utilities */

.logo {
    width: 80px;
}
