---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=%2C+%2C+Carnegie%2C+PA%2C+15106%2C+&key=REDACTED&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Carnegie",
                       "short_name" : "Carnegie",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Allegheny County",
                       "short_name" : "Allegheny County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Pennsylvania",
                       "short_name" : "PA",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "15106",
                       "short_name" : "15106",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "Carnegie, PA 15106, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 40.4198689,
                          "lng" : -80.067376
                       },
                       "southwest" : {
                          "lat" : 40.3981489,
                          "lng" : -80.099768
                       }
                    },
                    "location" : {
                       "lat" : 40.4086802,
                       "lng" : -80.0833885
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 40.4198689,
                          "lng" : -80.067376
                       },
                       "southwest" : {
                          "lat" : 40.3981489,
                          "lng" : -80.099768
                       }
                    }
                 },
                 "place_id" : "ChIJ-cHyC7pZNIgR39BNv8QzWpI",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sun, 14 Oct 2018 20:07:50 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=15106&key=REDACTED&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
   [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?key=REDACTED&language=en&latlng=40.4088514%2C-80.1149414&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "plus_code" : {
              "compound_code" : "CV5P+G2 Robinson Township, PA, USA",
              "global_code" : "86GXCV5P+G2"
           },
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "229",
                       "short_name" : "229",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Ewing Road",
                       "short_name" : "Ewing Rd",
                       "types" : [ "route" ]
                    },
          [...]
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=%2C+%2C+%2C+%2C+%2C+&key=REDACTED&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Sun, 14 Oct 2018 20:07:51 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=%2C+%2C+xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx%2C+%2C+%2C+&key=REDACTED&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Sun, 14 Oct 2018 20:07:52 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=%2C+%2C+xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx%2C+%2C+%2C+&key=REDACTED&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Sun, 14 Oct 2018 20:07:52 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=%2C+%2C+%2C+xxx%2C+%2C+&key=REDACTED&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Sun, 14 Oct 2018 20:07:52 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=%2C+%2C+%2C+xx%2C+%2C+&key=REDACTED&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
        [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=%2C+%2C+%2C+%2C+xxxxxxxxxxxxx%2C+&key=REDACTED&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Sun, 14 Oct 2018 20:07:52 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=%2C+%2C+%2C+%2C+xxxxxxxxxxxx%2C+&key=REDACTED&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Sun, 14 Oct 2018 20:07:52 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=%2C+%2C+Tolendo%2C+PA%2C+15106%2C+&key=REDACTED&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" [...]
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?key=REDACTED&language=en&latlng=1.234%2C3.423&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Sun, 14 Oct 2018 20:08:46 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=%2C+%2C+Carnegie%2C+PA%2C+%2C+&key=REDACTED&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=541+Carothers+Ave%2C+Carnegie%2C+PA&key=REDACTED&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components"[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=%2C+%2C+Carnegie%2C+areallylonginvalidstring%2C+%2C+&key=REDACTED&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Sun, 14 Oct 2018 20:08:59 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=So+%26+and+%3Cimg%3E%2C+So+%26+and+%3Cimg%3E&key=REDACTED&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Sun, 14 Oct 2018 20:09:02 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?key=REDACTED&language=en&latlng=35.0%2C-122.0&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "plus_code" : {
              "global_code" : "847W2222+22"
           },
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Sun, 14 Oct 2018 20:09:20 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=%2C+%2C+Philadelphia%2C+PA%2C+15106%2C+&key=REDACTED&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_compone[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=%2C+%2C+Pittsburgh%2C+PA%2C+15106%2C+&key=REDACTED&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_component[...]
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=%2C+%2C+Palmdale%2C+CA%2C+%2C+&key=REDACTED&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=%2C+%2C+Palmdale%2C+CA%2C+15106%2C+&key=REDACTED&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components"[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=410-448+E+Ave+Q%2C+Palmdale%2C+CA&key=REDACTED&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" :[...]
[...]
