---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Unknown&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Unknown",
                       "short_name" : "Unknown",
                       "types" : [ "establishment", "natural_feature" ]
                    },
                    {
                       "long_name" : "Bryant Pattengill West",
                       "short_name" : "Bryant Pattengill West",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                       "long_name" : "Pittsfield Charter Township",
                       "short_name" : "Pittsfield Charter Twp",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Washtenaw County",
                       "short_name" : "Washtenaw County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Michigan",
                       "short_name" : "MI",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "48108",
                       "short_name" : "48108",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "Unknown, Pittsfield Charter Twp, MI 48108, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 42.23117269999999,
                          "lng" : -83.74577239999999
                       },
                       "southwest" : {
                          "lat" : 42.2293843,
                          "lng" : -83.74740200000001
                       }
                    },
                    "location" : {
                       "lat" : 42.230537,
                       "lng" : -83.7466403
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 42.2316274802915,
                          "lng" : -83.7452382197085
                       },
                       "southwest" : {
                          "lat" : 42.2289295197085,
                          "lng" : -83.74793618029152
                       }
                    }
                 },
                 "place_id" : "ChIJCaTtYvGvPIgRSEaJPCH5wbA",
                 "types" : [ "establishment", "natural_feature" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 30 Aug 2016 05:34:39 GMT
recorded_with: VCR 3.0.3
