---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyAT7H77zXjsUfWFWM8C_R9aa1tGjIqAz28&language=en&latlng=40.4737114,-79.9612368&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "133",
                       "short_name" : "133",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "45th Street",
                       "short_name" : "45th St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Central Lawrenceville",
                       "short_name" : "Central Lawrenceville",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
        [...]
