---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyAT7H77zXjsUfWFWM8C_R9aa1tGjIqAz28&language=en&latlng=41.6998261,-83.6508025&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "5157",
                       "short_name" : "5157",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Monroe Street",
                       "short_name" : "Monroe St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Toledo",
                       "short_name" : "Toledo",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "[...]
