---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/textsearch/json?key=AIzaSyAu8lEPdQqG0pLMj49uwLVli32zwEd0afQ&query=I%20need%20a%20ride%20OH
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" : [],
           "results" : [
              {
                 "formatted_address" : "Parma, OH 44134, USA",
                 "geometry" : {
                    "location" : {
                       "lat" : 41.386356,
                       "lng" : -81.71024799999999
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/geocode-71.png",
                 "id" : "05b335010e85cb7db13302406dd814eef3f08328",
                 "name" : "Need A Ride Taxi",
                 "photos" : [
                    {
                       "height" : 302,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/102279784588586427077/photos\"\u003eNeed A Ride Taxi\u003c/a\u003e"
                       ],
                       "photo_reference" : "CoQBcwAAABfNmkIORT0XPvhiD4CtLHCWh5-V0d5rGkZhrpen64mJAY7n8L8n8yW6K4sOMGJmbfRM6iRJQtqIQb00mCW-OuOnXHpqnMIdPMk9PJhNTuv6OYy1FYpXFkwYjuqB6iVwnhhQgpxHPEeoaqdF8ytd6Qsln197MGNy-z1J1YXkADQxEhBgnI8A_ltDX0FUaPcnip7wGhSNhdEqC0KSV3HPOTM2y6l1OMmWJg",
                       "width" : 302
                    }
                 ],
                 "place_id" : "ChIJYUSjzEvvMIgRKbu6SZGDfLk",
                 "rating" : 3.7,
                 "reference" : "CoQBcQAAACvtbeulpWA5kX6Cf1bqYhBygZ2y_BPg_OURDg6XPU896ib8k3Ic1YC5x5-Ylgn1o_JSWf0r3zoTYMjIxdwTKWFgksmLP9u4POqiWSj0YefPu2-T_A1DLgqfrTKz7JUO5xZBR0JHIGHjvnwu261QNjVCRYQ5RgHOY5Fqej6ufufaEhDnIVztG_9Z-vn6FuV4qqWVGhQR8zJD-62fhqZ2_mWCzHlkTX6dJA",
                 "types" : [
                    "taxi_stand",
                    "lodging",
                    "airport",
                    "point_of_interest",
                    "establishment"
                 ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sat, 01 Oct 2016 18:28:15 GMT
recorded_with: VCR 3.0.3
