---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=,%20,%20Philadelphia,%20PA,%2015106,%20&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Philadelphia Seaplane Base",
                       "short_name" : "Philadelphia Seaplane Base",
                       "types" : [ "establishment", "point_of_interest" ]
                    },
                    {
                       "long_name" : "Essington",
                       "short_name" : "Essington",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                       "long_name" : "Tinicum Township",
                       "short_name" : "Tinicum Township",
                       "types" : [ "locality", "political" ]
                    },
   [...]
