---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=,%20,%20Carnegie,%20definitelynotastate,%20,%20&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "United States",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 71.5388001,
                          "lng" : -66.885417
                       },
                       "southwest" : {
                          "lat" : 18.7763,
                          "lng" : 170.5957
                       }
                    },
                    "location" : {
                       "lat" : 37.09024,
                       "lng" : -95.712891
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 49.38,
                          "lng" : -66.94
                       },
                       "southwest" : {
                          "lat" : 25.82,
                          "lng" : -124.39
                       }
                    }
                 },
                 "partial_match" : true,
                 "place_id" : "ChIJCzYy5IS16lQRQrfeQ5K5Oxw",
                 "types" : [ "country", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Fri, 07 Sep 2018 04:40:59 GMT
recorded_with: VCR 3.0.3
