---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=,%20,%20,%20xx,%2034747,%20&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "XX",
                       "short_name" : "XX",
                       "types" : [ "premise" ]
                    },
                    {
                       "long_name" : "Kissimmee",
                       "short_name" : "Kissimmee",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Osceola County",
                       "short_name" : "Osceola County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Florida",
                       "short_name" : "FL",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "34747",
                       "short_name" : "34747",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "XX, Kissimmee, FL 34747, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 28.3272554,
                          "lng" : -81.5982793
                       },
                       "southwest" : {
                          "lat" : 28.3269255,
                          "lng" : -81.59880649999999
                       }
                    },
                    "location" : {
                       "lat" : 28.3270714,
                       "lng" : -81.5984957
                    },
                    "location_type" : "ROOFTOP",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 28.3284394302915,
                          "lng" : -81.5971939197085
                       },
                       "southwest" : {
                          "lat" : 28.3257414697085,
                          "lng" : -81.59989188029151
                       }
                    }
                 },
                 "place_id" : "ChIJ64MgUal-3YgRQfMl8PFRgJQ",
                 "types" : [ "premise" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sun, 16 Oct 2016 22:03:49 GMT
recorded_with: VCR 3.0.3
