---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyAT7H77zXjsUfWFWM8C_R9aa1tGjIqAz28&language=en&latlng=37.7959362,-122.4000032&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "plus_code" : {
              "compound_code" : "QHWX+9X Financial District, San Francisco, CA, USA",
              "global_code" : "849VQHWX+9X"
           },
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "100",
                       "short_name" : "100",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Pine Street",
                       "short_name" : "Pine St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Financial District",
                       "short_name" : "Financial District",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
              [...]
