---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyAT7H77zXjsUfWFWM8C_R9aa1tGjIqAz28&language=en&latlng=28.533609,-81.406011&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "plus_code" : {
              "compound_code" : "GHMV+CH Orlando, FL, USA",
              "global_code" : "76WWGHMV+CH"
           },
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "# E",
                       "short_name" : "# E",
                       "types" : [ "subpremise" ]
                    },
                    {
                       "long_name" : "2044",
                       "short_name" : "2044",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Jacobs Place",
                       "short_name" : "Jacobs Pl",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Lake Sunset",
  [...]
