---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=,%20,%20Carnegie,%20PA,%20115106,%20&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Carnegie",
                       "short_name" : "Carnegie",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Carnegie",
                       "short_name" : "Carnegie",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Allegheny County",
                       "short_name" : "Allegheny County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Pennsylvania",
                       "short_name" : "PA",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "15106",
                       "short_name" : "15106",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "Carnegie, PA 15106, USA",
                 "geometry" : {
                    "location" : {
                       "lat" : 40.417548,
                       "lng" : -80.089254
                    },
                    "location_type" : "GEOMETRIC_CENTER",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 40.4188969802915,
                          "lng" : -80.08790501970849
                       },
                       "southwest" : {
                          "lat" : 40.4161990197085,
                          "lng" : -80.09060298029149
                       }
                    }
                 },
                 "partial_match" : true,
                 "place_id" : "ChIJ8-auZS72NIgRgjm0k9iP46g",
                 "types" : [ "route" ]
              },
              {
                 "address_components" : [
                    {
                       "long_name" : "Carnegie Building",
                       "short_name" : "Carnegie Building",
                       "types" : [ "premise" ]
                    },
                    {
                       "long_name" : "Fraser Road",
                       "short_name" : "Fraser Rd",
                    [...]
