---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=,%20,%20,%20xx,%20,%20&key=AIzaSyAT7H77zXjsUfWFWM8C_R9aa1tGjIqAz28&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Flippin",
                       "short_name" : "Flippin",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Arkansas",
                       "short_name" : "AR",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "72634",
                       "short_name" : "72634",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "730 MC 8127, Flippin, AR 72634, United States",
                 "geometry" : {
                    "location" : {
                       "lat" : 36.2916022,
                       "lng" : -92.61010019999999
                    },
                    "location_type" : "GEOMETRIC_CENTER",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 36.2929511802915,
                          "lng" : -92.60875121970848
                       },
                       "southwest" : {
                          "lat" : 36.2902532197085,
                          "lng" : -92.61144918029149
                       }
                    }
                 },
                 "place_id" : "ChIJ31YsYDAjzocRkspAOekyoEc",
                 "types" : [ "establishment", "point_of_interest" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sat, 29 Sep 2018 19:52:21 GMT
recorded_with: VCR 3.0.3
