---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=,%20,%20Philadelphia,%20PA,%2015106,%20&key=AIzaSyAT7H77zXjsUfWFWM8C_R9aa1tGjIqAz28&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "15106",
                       "short_name" : "15106",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Milford Street",
                       "short_name" : "Milford St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Northeast Philadelphia",
                       "short_name" : "Northeast Philadelphia",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
[...]
