---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=330%20Cabrillo%20St.,%20Carnegie,%20PA&key=AIzaSyAT7H77zXjsUfWFWM8C_R9aa1tGjIqAz28&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "330",
                       "short_name" : "330",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Cabrillo Street",
                       "short_name" : "Cabrillo St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "East Side Costa Mesa",
                       "short_name" : "East Side Costa Mesa",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
  [...]
