---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=43620&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "43620",
                       "short_name" : "43620",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "Toledo",
                       "short_name" : "Toledo",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Lucas County",
                       "short_name" : "Lucas County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Ohio",
                       "short_name" : "OH",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Toledo, OH 43620, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 41.6724899,
                          "lng" : -83.5353678
                       },
                       "southwest" : {
                          "lat" : 41.657522,
                          "lng" : -83.5723799
                       }
                    },
                    "location" : {
                       "lat" : 41.6670429,
                       "lng" : -83.55232049999999
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 41.6724899,
                          "lng" : -83.5353678
                       },
                       "southwest" : {
                          "lat" : 41.657522,
                          "lng" : -83.5723799
                       }
                    }
                 },
                 "place_id" : "ChIJVR2rTtGAO4gRMdUVq0ue9cU",
                 "types" : [ "postal_code" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 18 Oct 2016 03:44:26 GMT
recorded_with: VCR 3.0.3
