---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=40.409,-80.09&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "101-199",
                       "short_name" : "101-199",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "State Alley",
                       "short_name" : "State Alley",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Carnegie",
                       "short_name" : "Carnegie",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Allegheny County",
                       "short_name" : "Allegheny County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Pennsylvania",
                       "short_name" : "PA",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "15106",
                       "short_name" : "15106",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "101-199 State Alley, Carnegie, PA 15106, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 40.408999,
                          "lng" : -80.0895443
                       },
                       "southwest" : {
                          "lat" : 40.4088809,
                          "lng" : -80.09036499999999
                       }
                    },
                    "location" : {
                       "lat" : 40.40894979999999,
                       "lng" : -80.08998749999999
                    },
                    "location_type" : "RANGE_INTERPOLATED",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 40.4102889302915,
                          "lng" : -80.0886056697085
                       },
                       "southwest" : {
                          "lat" : 40.4075909697085,
                          "lng" : -80.09130363029151
                       }
                    }
                 },
                 "place_id" : "EiwxMDEtMTk5IFN0YXRlIEFsbGV5LCBDYXJuZWdpZSwgUEEgMTUxMDYsIFVTQQ",
                 "types" : [ "street_address" ]
              },
              {
                 "address_components" : [
                    {
                       "long_name" : "Carnegie",
                       "short_name" : "Carnegie",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Allegheny County",
                       "sh[...]
