---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=37.7959362,-122.4000032&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "423",
                       "short_name" : "423",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Washington Street",
                       "short_name" : "Washington St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Financial District",
                       "short_name" : "Financial District",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
  [...]
