---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=94111&key=AIzaSyAT7H77zXjsUfWFWM8C_R9aa1tGjIqAz28&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "94111",
                       "short_name" : "94111",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "San Francisco",
                       "short_name" : "SF",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "San Francisco County",
                       "short_name" : "San Francisco County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "California",
                       "short_name" : "CA",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "San Francisco, CA 94111, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 37.8072279,
                          "lng" : -122.3673941
                       },
                       "southwest" : {
                          "lat" : 37.737043,
                          "lng" : -122.4059541
                       }
                    },
                    "location" : {
                       "lat" : 37.79593620000001,
                       "lng" : -122.4000032
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 37.8072279,
                          "lng" : -122.3673941
                       },
                       "southwest" : {
                          "lat" : 37.737043,
                          "lng" : -122.4059541
                       }
                    }
                 },
                 "place_id" : "ChIJ49w0El-AhYAR9WVSnuOiWM8",
                 "types" : [ "postal_code" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sat, 08 Sep 2018 05:10:08 GMT
recorded_with: VCR 3.0.3
