---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=,%20,%20Tolendo,%20PA,%2015106,%20&key=AIzaSyAT7H77zXjsUfWFWM8C_R9aa1tGjIqAz28&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Toledo",
                       "short_name" : "Toledo",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Lucas County",
                       "short_name" : "Lucas County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Ohio",
                       "short_name" : "OH",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Toledo, OH, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 41.732844,
                          "lng" : -83.454229
                       },
                       "southwest" : {
                          "lat" : 41.580266,
                          "lng" : -83.69423700000002
                       }
                    },
                    "location" : {
                       "lat" : 41.6528052,
                       "lng" : -83.5378674
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 41.732844,
                          "lng" : -83.454229
                       },
                       "southwest" : {
                          "lat" : 41.580266,
                          "lng" : -83.69423700000002
                       }
                    }
                 },
                 "partial_match" : true,
                 "place_id" : "ChIJeU4e_C2HO4gRRcM6RZ_IPHw",
                 "types" : [ "locality", "political" ]
              },
              {
                 "address_components" : [
                    {
                       "long_name" : "15106",
                       "short_name" : "15106",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "Heidelberg",
                       "short_name" : "Heidelberg",
                       "[...]
