---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=,%20,%20Orlando,%20FL,%2032805,%20&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "32805",
                       "short_name" : "32805",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "Orlando",
                       "short_name" : "Orlando",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Orange County",
                       "short_name" : "Orange County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Florida",
                       "short_name" : "FL",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Orlando, FL 32805, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 28.552975,
                          "lng" : -81.38105899999999
                       },
                       "southwest" : {
                          "lat" : 28.5030919,
                          "lng" : -81.43439599999999
                       }
                    },
                    "location" : {
                       "lat" : 28.5345501,
                       "lng" : -81.40042269999999
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 28.552975,
                          "lng" : -81.38105899999999
                       },
                       "southwest" : {
                          "lat" : 28.5030919,
                          "lng" : -81.43439599999999
                       }
                    }
                 },
                 "place_id" : "ChIJgd85VF9554gRm0zHqTy3qOM",
                 "types" : [ "postal_code" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Thu, 01 Sep 2016 05:02:43 GMT
recorded_with: VCR 3.0.3
