---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyAT7H77zXjsUfWFWM8C_R9aa1tGjIqAz28&language=en&latlng=40.409,-80.09&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "plus_code" : {
              "compound_code" : "CW55+HX Carnegie, PA, USA",
              "global_code" : "86GXCW55+HX"
           },
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "108",
                       "short_name" : "108",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Railroad Avenue",
                       "short_name" : "Railroad Ave",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Carnegie",
                       "short_name" : "Carnegie",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_[...]
