---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyAT7H77zXjsUfWFWM8C_R9aa1tGjIqAz28&language=en&latlng=41.6411077,-83.5436626&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "plus_code" : {
              "compound_code" : "JFR4+CG Toledo, OH, USA",
              "global_code" : "86HRJFR4+CG"
           },
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "435",
                       "short_name" : "435",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "South Saint Clair Street",
                       "short_name" : "S St Clair St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Southside",
                       "short_name" : "Southside",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
             [...]
