---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=,%20,%20Carnegie,%20PA,%2010011,%20&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "10011",
                       "short_name" : "10011",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Carnegie Street",
                       "short_name" : "Carnegie St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Lawrenceville",
                       "short_name" : "Lawrenceville",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                [...]
