---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=xxx&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "XXX",
                       "short_name" : "XXX",
                       "types" : [ "premise" ]
                    },
                    {
                       "long_name" : "Kissimmee",
                       "short_name" : "Kissimmee",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Osceola County",
                       "short_name" : "Osceola County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Florida",
                       "short_name" : "FL",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "34747",
                       "short_name" : "34747",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "XXX, Kissimmee, FL 34747, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 28.3315348,
                          "lng" : -81.5940212
                       },
                       "southwest" : {
                          "lat" : 28.331314,
                          "lng" : -81.5944385
                       }
                    },
                    "location" : {
                       "lat" : 28.3314301,
                       "lng" : -81.594213
                    },
                    "location_type" : "ROOFTOP",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 28.3327733802915,
                          "lng" : -81.59288086970849
                       },
                       "southwest" : {
                          "lat" : 28.3300754197085,
                          "lng" : -81.5955788302915
                       }
                    }
                 },
                 "place_id" : "ChIJL2Ybkq9-3YgRtodPcX16Qyo",
                 "types" : [ "premise" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 12 Sep 2016 20:15:03 GMT
recorded_with: VCR 3.0.3
