---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=28.5345501,-81.4004227&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Carter Street",
                       "short_name" : "Carter St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Northwest Orlando",
                       "short_name" : "Northwest Orlando",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                       "long_name" : "Orlando",
                       "short_name" : "Orlando",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Orange County",
                       "short_name" : "Orange County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Florida",
                       "short_name" : "FL",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "32805",
                       "short_name" : "32805",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "Carter St, Orlando, FL 32805, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 28.5347241,
                          "lng" : -81.3994958
                       },
                       "southwest" : {
                          "lat" : 28.5347184,
                          "lng" : -81.4013628
                       }
                    },
                    "location" : {
                       "lat" : 28.5347213,
                       "lng" : -81.4004293
                    },
                    "location_type" : "GEOMETRIC_CENTER",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 28.5360702302915,
                          "lng" : -81.39908031970849
                       },
                       "southwest" : {
                          "lat" : 28.5333722697085,
                          "lng" : -81.40177828029151
                       }
                    }
                 },
                 "place_id" : "ChIJ41R-ALR754gR12UPD6E5uPc",
                 "types" : [ "route" ]
              },
              {
                 "address_components" : [
                    {
                       "long_name" : "Lorna Doone",
                       "short_name" : "Lorna Doone",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                       "long_name" : "Orlando",
                       "short_name" : "Orlando",
                    [...]
