---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=So%20%26%20and%20%3Cimg%3E,%20So%20%26%20and%20%3Cimg%3E&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Southeast Image Road",
                       "short_name" : "SE Image Rd",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Old Evergreen Highway",
                       "short_name" : "Old Evergreen Highway",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                       "long_name" : "Vancouver",
                       "short_name" : "Vancouver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Clark County",
                       "short_name" : "Clark County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Washington",
                       "short_name" : "WA",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "98664",
                       "short_name" : "98664",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "SE Image Rd & Image Ln, Vancouver, WA 98664, USA",
                 "geometry" : {
                    "location" : {
                       "lat" : 45.6060868,
                       "lng" : -122.5799088
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 45.6074357802915,
                          "lng" : -122.5785598197085
                       },
                       "southwest" : {
                          "lat" : 45.6047378197085,
                          "lng" : -122.5812577802915
                       }
                    }
                 },
                 "partial_match" : true,
                 "place_id" : "EjBTRSBJbWFnZSBSZCAmIEltYWdlIExuLCBWYW5jb3V2ZXIsIFdBIDk4NjY0LCBVU0E",
                 "types" : [ "intersection" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Thu, 27 Oct 2016 03:10:44 GMT
recorded_with: VCR 3.0.3
