---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=,%20,%20Orlando,%20FL,%2015106,%20&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "15106",
                       "short_name" : "15106",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Florida Avenue",
                       "short_name" : "Florida Ave",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Astatula",
                       "short_name" : "Astatula",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Lake County",
                       "short_name" : "Lake County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Florida",
                       "short_name" : "FL",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "34705",
                       "short_name" : "34705",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "15106 Florida Ave, Astatula, FL 34705, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 28.710019,
                          "lng" : -81.72431379999999
                       },
                       "southwest" : {
                          "lat" : 28.7100025,
                          "lng" : -81.7243139
                       }
                    },
                    "location" : {
                       "lat" : 28.7100025,
                       "lng" : -81.72431379999999
                    },
                    "location_type" : "RANGE_INTERPOLATED",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 28.7113597302915,
                          "lng" : -81.72296486970849
                       },
                       "southwest" : {
                          "lat" : 28.7086617697085,
                          "lng" : -81.7256628302915
                       }
                    }
                 },
                 "partial_match" : true,
                 "place_id" : "EioxNTEwNiBGbG9yaWRhIEF2ZSwgQXN0YXR1bGEsIEZMIDM0NzA1LCBVU0E",
                 "types" : [ "street_address" ]
              },
              {
                 "address_components" : [
                    {
                       "long_name" : "15106",
                       "short_name" : "15106",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Florida Rock Road",
                       "short_name" : "Flo[...]
