---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=,%20,%20Carnegie,%20PA,%2015106,%20&key=AIzaSyAT7H77zXjsUfWFWM8C_R9aa1tGjIqAz28&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Carnegie",
                       "short_name" : "Carnegie",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Allegheny County",
                       "short_name" : "Allegheny County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Pennsylvania",
                       "short_name" : "PA",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "15106",
                       "short_name" : "15106",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "Carnegie, PA 15106, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 40.4198689,
                          "lng" : -80.067376
                       },
                       "southwest" : {
                          "lat" : 40.3981489,
                          "lng" : -80.099768
                       }
                    },
                    "location" : {
                       "lat" : 40.4086802,
                       "lng" : -80.0833885
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 40.4198689,
                          "lng" : -80.067376
                       },
                       "southwest" : {
                          "lat" : 40.3981489,
                          "lng" : -80.099768
                       }
                    }
                 },
                 "place_id" : "ChIJ-cHyC7pZNIgR39BNv8QzWpI",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sat, 29 Sep 2018 19:51:34 GMT
recorded_with: VCR 3.0.3
