---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyAT7H77zXjsUfWFWM8C_R9aa1tGjIqAz28&language=en&latlng=41.6998261,-83.6508025&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "plus_code" : {
              "compound_code" : "M8XX+WM Toledo, OH, USA",
              "global_code" : "86HRM8XX+WM"
           },
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Unnamed Road",
                       "short_name" : "Unnamed Road",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Toledo",
                       "short_name" : "Toledo",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Sylvania Township",
                       "short_name" : "Sylvania Township",
                       "types" : [ "administrative_area_level_3", "political" ]
                    },
                    {
                       "long_name" : "Lucas County",
                       "short_name" : "Lucas County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Ohio",
                       "short_name" : "OH",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "43623",
                       "short_name" : "43623",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "Unnamed Road, Toledo, OH 43623, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 41.7002315,
                          "lng" : -83.6509236
                       },
                       "southwest" : {
                          "lat" : 41.699234,
                          "lng" : -83.6510186
                       }
                    },
                    "location" : {
                       "lat" : 41.6997328,
                       "lng" : -83.65097109999999
                    },
                    "location_type" : "GEOMETRIC_CENTER",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 41.70108173029151,
                          "lng" : -83.6496221197085
                       },
                       "southwest" : {
                          "lat" : 41.69838376970851,
                          "lng" : -83.65232008029152
                       }
                    }
                 },
                 "place_id" : "ChIJwdwJ__N-PIgRkqE1QIvhUtA",
                 "types" : [ "route" ]
              },
              {
                 "address_components" : [
                    {
                       "long_name" : "43623",
                       "short_name" : "43623",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "Toledo",
                       "short_name" : "Toledo",
                       "types" : [ "locality", "[...]
