---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=,%20,%20Tolendo,%20PA,%2015106,%20&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "South Pennsylvania Street",
                       "short_name" : "S Pennsylvania St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Toledo",
                       "short_name" : "Toledo",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Sumpter Township",
                       "short_name" : "Sumpter Township",
                       "types" : [ "administrative_area_level_3", "political" ]
                    },
                    {
                       "long_name" : "Cumberland County",
                       "short_name" : "Cumberland County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Illinois",
                       "short_name" : "IL",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "62468",
                       "short_name" : "62468",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "S Pennsylvania St, Toledo, IL 62468, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.2728255,
                          "lng" : -88.2377266
                       },
                       "southwest" : {
                          "lat" : 39.261087,
                          "lng" : -88.2410429
                       }
                    },
                    "location" : {
                       "lat" : 39.2693483,
                       "lng" : -88.2410367
                    },
                    "location_type" : "GEOMETRIC_CENTER",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.2728255,
                          "lng" : -88.2377266
                       },
                       "southwest" : {
                          "lat" : 39.261087,
                          "lng" : -88.2410429
                       }
                    }
                 },
                 "partial_match" : true,
                 "place_id" : "ChIJNQva3Cyqc4gRe8Iiqi2O0rE",
                 "types" : [ "route" ]
              },
              {
                 "address_components" : [
                    {
                       "long_name" : "Toledo Lane",
                       "short_name" : "Toledo Ln",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Willingboro",
                       "short_name" : "Willingboro",
                       "types" : [[...]
