---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=,%20,%20Pittsburgh,%20PA,%2015201,%20&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "15201",
                       "short_name" : "15201",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "Pittsburgh",
                       "short_name" : "Pittsburgh",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Allegheny County",
                       "short_name" : "Allegheny County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Pennsylvania",
                       "short_name" : "PA",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Pittsburgh, PA 15201, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 40.49156989999999,
                          "lng" : -79.93112310000001
                       },
                       "southwest" : {
                          "lat" : 40.4239199,
                          "lng" : -79.980621
                       }
                    },
                    "location" : {
                       "lat" : 40.4737114,
                       "lng" : -79.96123679999999
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 40.49156989999999,
                          "lng" : -79.93112310000001
                       },
                       "southwest" : {
                          "lat" : 40.4557779,
                          "lng" : -79.980621
                       }
                    }
                 },
                 "place_id" : "ChIJH7Pi81DyNIgRYC1TkTt84Wk",
                 "types" : [ "postal_code" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Thu, 27 Oct 2016 03:48:45 GMT
recorded_with: VCR 3.0.3
