%link{:href => 'http://addtocalendar.com/atc/1.5/atc-style-blue.css', :rel => 'stylesheet'}

:javascript
  (function () {
    if (window.addtocalendar)if(typeof window.addtocalendar.start == "function") return;
    if (window.ifaddtocalendar == undefined) {
      window.ifaddtocalendar = 1;
      var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
      s.type = 'text/javascript';s.charset = 'UTF-8';s.async = true;
      s.src = ('https:' == window.location.protocol ? 'https' : 'http')+'://addtocalendar.com/atc/1.5/atc.min.js';
      var h = d[g]('body')[0];h.appendChild(s);
    }
  })();

.row
  .col-sm-6.col-sm-offset-3.text-center
    %h4
      Thanks!
      
    %p{style: 'margin-top: -10px;'}
      We'll contact you before the election.
      
  = render 'home/share'
      
  -#
    / .col-sm-6.col-sm-offset-3.text-center
    /   %br
    /   %p
    /     The election is on Tuesday, November 8, 2016.
    /
    /   %p
    /     %span.addtocalendar.atc-style-blue
    /       %var.atc_event
    /         %var.atc_date_start 2016-11-08 12:00:00
    /         %var.atc_date_end 2016-05-04 18:00:00
    /         %var.atc_timezone America/Los_Angeles
    /         %var.atc_title 2016 U.S. Presidential Election
    /         %var.atc_description Get to my polling place and vote!
    /         %var.atc_location #{current_user.city}, #{current_user.state}