.description
  %h1.hed
    #{t(:drive_the_vote)}
  %p.subhed
    = t(:short_description).gsub( /\n+/, "<br>" ).html_safe

  %p{style: "text-align: center;"}
    .embed-container
      <iframe width="560" height="315" src="https://www.youtube.com/embed/HVhfCqXHTW0?modestbranding=1&amp;rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

  %h2
    Need a ride?
  %p
    For 2018, we're working with local partners in three congressional districts to provide rides to the polls. To schedule a ride, call the numbers below, or if you're not in one of these areas call your local Democratic party office.

  %div.row
    %div.col-md-4
      %p.text-center
        California 25th<br>
        <a href="tel:+12133548858" title="Call for a ride in California 25">(213) 354-8858</a>
    %div.col-md-4
      %p.text-center
        Texas 14th<br>
        <a href="tel:+17137661273" title="Call for a ride in Texas 14">(713) 766-1273</a>
    %div.col-md-4
      %p.text-center
        Wisconsin 1st<br>
        <a href="tel:+12626724876" title="Call for a ride in Wisconsin 1">(262) 672-4876</a>

  %h2
    Want to help?

  %p
    If you'd like to volunteer in one of our three areas, click the button below. If you're not near one of our supported areas, check out <a href="https://thelastweekend.org" title="The Last Weekend">TheLastWeekend.org</a> for volunteer opportunities in your area.

  %div.row
    %div.col-md-4
      %p.text-center
        <a href="/volunteer/ca-25" class="btn btn-info" title="Volunteer to drive in California 25">Drive in California 25th</a>
    %div.col-md-4
      %p.text-center
        <a href="/volunteer/tx-14" class="btn btn-info" title="Volunteer to drive in Texas 14">Drive in Texas 14th</a>
    %div.col-md-4
      %p.text-center
        <a href="/volunteer/wi-1" class="btn btn-info" title="Volunteer to drive in Wisconsin 1">Drive in Wisconsin 1st</a>

  %h2
    About Ragtag
  %p
    Ragtag is a team of tech volunteers who help activists, organizers, non-profits, and candidates break down tech barriers making it easier to achieve their organizing goals. Learn more at <a href="https://ragtag.org">Ragtag.org</a>.

  %p.text-center
    <a href="https://ragtag.org/?utm_medium=web&amp;utm_source=drive.vote&amp;utm_name=empowered-badge"><img src="https://assets.ragtag.tech/empowered-by-ragtag.svg" alt="Empowered by Ragtag"></a>
