.description
  %h1.hed
    #{t(:drive_the_vote)}
  %h2.subhed
    = t(:short_description).gsub( /\n+/, "<br>" ).html_safe

  %p{style: "text-align: center;"}
    .embed-container
      <iframe src='https://player.vimeo.com/video/186460916?portrait=0&title=0&byline=0&badge=0' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

  %h3.how-it-works
    = t(:how_it_works)

  %p
    = t(:how_it_works_copy)

  -#
    / %h3
    /   = t(:how_to_help)
    / %p
    /   If you have a car and can be in <b>Philadelphia</b>, <b>Pittsburgh</b>, or <b>Salt Lake City</b> on election day, volunteer to be a driver! Help get voters to the polls on November 8th and make sure everyone has a vote.
    /
    / %p
    /   %table.btns
    /     %tr
    /       %td.vol
    /         = link_to "javascript:alert('Sorry, Philadelphia is at capacity! You can still volunteer for Pittsburgh.');" do
    /           %button.btn.btn-default.btn-home.btn-lft{role: 'button'}
    /             Volunteer for Philadelphia
    /       %td.ride
    /         = link_to "/ride/philadelphia" do
    /           %button.btn.btn-success.btn-home.btn-rgt{role: 'button'}
    /             Request ride in Philadelphia
    /     %tr
    /       %td.vol
    /         = link_to '/volunteer/pittsburgh' do
    /           %button.btn.btn-info.btn-home.btn-lft{role: 'button'}
    /             Volunteer for Pittsburgh
    /       %td.ride
    /         = link_to '/ride/pittsburgh' do
    /           %button.btn.btn-success.btn-home.btn-rgt{role: 'button'}
    /             Request ride in Pittsburgh
    /
    /     %tr
    /       %td.vol
    /         = link_to '/volunteer/salt_lake_county' do
    /           %button.btn.btn-info.btn-home.btn-lft{role: 'button'}
    /             Volunteer for Salt Lake
    /       %td.ride
    /         = link_to '/ride/salt_lake_county' do
    /           %button.btn.btn-success.btn-home.btn-rgt{role: 'button'}
    /             Request ride in Salt Lake
    /
    / %p{style: "text-align: center; margin: 25px 0;"}
    /   To request a ride in Pennsylvania over the phone,<br>
    /   please call the voter hotline at 878-777-3861.
