%p{style: 'margin-top: 25px;'}
  %b
    Drive the Vote
  was made by #{link_to 'John McGrath', 'http://fryolator.com'}.
  
%p
  Please send questions, comments, suggestions to #{mail_to 'john@drive.vote'}. Thanks!