%p{style: 'margin-top: 25px;'}
  %h4
    Who did this?
  %i
    Drive the Vote
  was made by #{link_to 'John McGrath', 'http://fryolator.com'}.
  
  %h4
    Other ways to vote
  %p
    Many states allow #{link_to 'early voting', 'https://www.vote.org/early-voting-calendar/'} and/or #{link_to 'absentee ballots,' 'https://www.vote.org/absentee-ballot/'}. You may not need a ride at all :-)
  
  %h4
    Safety
  %p
    
  %h4
    Civility
  %p
    %i
      Drive the Vote 
    is intended to encourage civic engagement for everyone. Please be polite when using this service, and respect the opinions of others. Civic engagement includes talking politics, imo, but in the context of helping each other get to the polls, please refrain from promoting your candidate if that's unwelcome.
    
  %h4
    Contact info
  %p
    Please send questions, comments, suggestions to #{mail_to 'john@drive.vote'}. Thanks!