:css
  h1 { font-size: 20px; margin: 0 0 20px 0;}
  
  .numberCircle {
      display:inline-block;

      border-radius:50%;
      border:2px solid;

      font-size:32px;
  }

  .numberCircle:before,
  .numberCircle:after {
      content:'\200B';
      display:inline-block;
      line-height:0px;

      padding-top:50%;
      padding-bottom:50%;
  }

  .numberCircle:before {
      padding-left:8px;
  }
  .numberCircle:after {
      padding-right:8px;
  }
  
  .numberContainer {
    width: 60px;
    text-align: left;
    padding: 0 0 10px 0;
    border: 0px solid red;
  }
  
  .instruction {
    padding-left: 10px;
    text-align: left;
  }
  

%p#notice= notice
  
.row
  .col-sm-6.col-sm-offset-3.text-center{style: 'width: 400px;'}
    %h1
      How Ridesharing Works
    
    %table
      %tr
        %td.numberContainer
          %span.numberCircle
            1
        %td.instruction
          Fill out a quick profile
      %tr
        %td.numberContainer
          %span.numberCircle
            2
        %td.instruction
          When the election is close, contact nearby drivers or passengers. We'll remind you.
      %tr
        %td.numberContainer
          %span.numberCircle
            3
        %td.instruction
          Confirm with text messages/phone calls
        
    = link_to user_facebook_omniauth_authorize_path(type: params[:type], campaign: params[:campaign_slug]) do
      %button.btn.btn-home.btn-lg{role: 'button', style: 'color: black; width: 350px; font-weight: bold; margin-top: 20px;'}
        GOT IT
      