---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=43623&key=AIzaSyAT7H77zXjsUfWFWM8C_R9aa1tGjIqAz28&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "43623",
                       "short_name" : "43623",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "Toledo",
                       "short_name" : "Toledo",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Lucas County",
                       "short_name" : "Lucas County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Ohio",
                       "short_name" : "OH",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Toledo, OH 43623, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 41.7280009,
                          "lng" : -83.6141289
                       },
                       "southwest" : {
                          "lat" : 41.685355,
                          "lng" : -83.6964979
                       }
                    },
                    "location" : {
                       "lat" : 41.6998261,
                       "lng" : -83.6508025
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 41.7280009,
                          "lng" : -83.6141289
                       },
                       "southwest" : {
                          "lat" : 41.685355,
                          "lng" : -83.6964979
                       }
                    }
                 },
                 "place_id" : "ChIJOzzHpmF-PIgRRKDRq-sGSSM",
                 "postcode_localities" : [ "Sylvania", "Toledo" ],
                 "types" : [ "postal_code" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sat, 29 Sep 2018 19:52:15 GMT
recorded_with: VCR 3.0.3
