!!! html
%html{lang: 'en'}
  %head
    %meta{charset: 'utf8'}
    %title 🚕 the Vote
    = csrf_meta_tags
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    %meta{ name: 'apple-mobile-web-app-capable', content: 'yes' }
    %meta{ name: 'mobile-web-app-capable', content: 'yes' }
    %meta{ name: 'description', content: 'Drive the Vote matches people who need rides to their polling place with volunteer drivers who want to take them there. No car should not mean no vote.' }

    %link{href: 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel: 'stylesheet'}
    %link{href: 'https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/css/flat-ui.min.css', rel: 'stylesheet'}
    %link{href: 'https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css', rel: 'stylesheet'}
    -# = stylesheet_include_tag *webpack_asset_paths("driving")
    = stylesheet_pack_tag 'driving'
  %body

    #root
      %nav.container.text-left.p-y
        = image_tag(t(:logo_filename), id: 'logo', width: '60')
      .container
        .jumbotron.text-center
          %h1
            %i.fa.fa-circle-o-notch.fa-spin
          %p
            Loading app…

    -# = javascript_include_tag *webpack_asset_paths("driving")
    = javascript_pack_tag 'driving'

    <!-- Start of campaignhelpdesk Zendesk Widget script -->
    <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=19972695-e94b-40d7-be27-3f1c22dc0bc5"></script>
    <script>zE(function(){zE.setHelpCenterSuggestions({labels:['drive the vote']});});</script>
    <!-- End of campaignhelpdesk Zendesk Widget script -->
