!!! html
%html{lang: 'en'}
  %head
    %meta{charset: 'utf8'}
    %title 🚕 the Vote
    = csrf_meta_tags
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    %meta{ name: 'apple-mobile-web-app-capable', content: 'yes' }
    %meta{ name: 'mobile-web-app-capable', content: 'yes' }
    %meta{ name: 'description', content: 'Drive the Vote matches people who need rides to their polling place with volunteer drivers who want to take them there. No car should not mean no vote.' }
    %link{href: 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel: 'stylesheet'}
    %link{href: 'https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/css/flat-ui.min.css', rel: 'stylesheet'}
    %link{href: 'https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css', rel: 'stylesheet'}
    %link{href: 'https://drive-vote-driver.herokuapp.com/static/css/main.css', rel: 'stylesheet'}
  %body

  #root
    %nav.container.text-center.p-y
      = image_tag("dtv_logo_120x83.png", class: 'logo')
    .container
      .jumbotron.text-center
        %h1
          %i.fa.fa-circle-o-notch.fa-spin
        %p
          Loading app...

  = javascript_include_tag *webpack_asset_paths("driving")
