!!! html
%html{lang: 'en'}
  %head
    %meta{charset: 'utf8'}
    %title 🚕 the Vote
    = csrf_meta_tags
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    %meta{ name: "apple-mobile-web-app-capable", content: "yes" }
    %meta{ name: "mobile-web-app-capable", content: "yes" }
    %meta{ name: 'description', content: 'Drive the Vote matches people who need rides to their polling place with volunteer drivers who want to take them there. No car should not mean no vote.' }
  %body

  %div{:id=> "root"}
  %script{src: 'http://foo.bar/main.js'}
