.modal.fade.modal-body#conv-modal{"aria-labelledby" => "conversationModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg{:role => "document"}
    .modal-content
      .modal-header
        %button.close{type: 'button', 'data-dismiss': 'modal', 'aria-label': 'Close'}
          %span{'aria-hidden': 'true'} x
        #msg-count.pull-right

        %h4#conversationModalLabel.modal-title

      .modal-body
        %table{style: 'width: 850px;'}
          %tr
            %td{style: 'width: 500px;'}
              - if @ride
                #ride_info

              - else
                #conversation-form

            %td{style: 'width: 340px;'}
              #conversation-messages