.modal.fade.modal-body#conv-modal{"aria-labelledby" => "conv-modal-title", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg{:role => "document"}
    .modal-content
      .modal-header
        %button.close{type: 'button', 'data-dismiss': 'modal', 'aria-label': 'Close'}
          %span{'aria-hidden': 'true'} x

        #conv-modal-title.pull-left
        #archive-btn

      .modal-body
        %table{style: 'width: 850px;'}
          %tr
            %td{style: 'width: 500px;'}
              - if @ride
                #ride_info
              - else
                #conversation-form

            %td{style: 'width: 340px;'}
              #conversation-messages

              .msg-reply
                #msg-input{ contenteditable: true}
                = button_tag 'Send', id: 'msg-submit', class: 'btn btn-send btn-primary btn-xs pull-right'
          %tr
            %td
            %td
              #msg-error-display