= render partial: 'dispatch/nav'

.col-md-12

  %table.table{style: 'margin-top: 40px;'}
    %thead
      %tr
        %th Name
        %th Email
        %th Phone

    - @drivers.each do |driver|
      %tbody
        %tr
          %td
            = driver.name
          %td
            = mail_to driver.email
          %td
            = tel_to  driver.phone_number.phony_formatted(normalize: :US, spaces: '-')