= render partial: 'dispatch/nav'

.col-md-12{style: 'margin-top: 10px;'}
  #dispatch-map

.col-md-12{style: 'margin-top: 10px;'}
  = render partial: 'dispatch/map_key'

:javascript
  #{render partial: 'dispatch/init.js'}