---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=from,%20fcity&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Atlanta from the Ashes",
                       "short_name" : "Atlanta from the Ashes",
                       "types" : [ "premise" ]
                    },
                    {
                       "long_name" : "Peachtree Street Northeast",
                       "short_name" : "Peachtree St NE",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Downtown",
                       "short_name" : "Downtown",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                 [...]
