---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=1234%20Street&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "1234th Street",
                       "short_name" : "1234th St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "River Falls",
                       "short_name" : "River Falls",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Clifton",
                       "short_name" : "Clifton",
                       "types" : [ "administrative_area_level_3", "political" ]
                    },
                    {
                       "long_name" : "Pierce County",
                       "short_name" : "Pierce County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Wisconsin",
                       "short_name" : "WI",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "54022",
                       "short_name" : "54022",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "1234th St, River Falls, WI 54022, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 44.8497,
                          "lng" : -92.753614
                       },
                       "southwest" : {
                          "lat" : 44.848116,
                          "lng" : -92.754577
                       }
                    },
                    "location" : {
                       "lat" : 44.8485559,
                       "lng" : -92.7539807
                    },
                    "location_type" : "GEOMETRIC_CENTER",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 44.8502569802915,
                          "lng" : -92.7527465197085
                       },
                       "southwest" : {
                          "lat" : 44.8475590197085,
                          "lng" : -92.75544448029152
                       }
                    }
                 },
                 "place_id" : "ChIJAZyblKPn94cRqLXh4IYq9FE",
                 "types" : [ "route" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 24 Aug 2016 20:19:18 GMT
recorded_with: VCR 3.0.3
