---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=5678%20Ave&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "5678",
                       "short_name" : "5678",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "I Avenue",
                       "short_name" : "I Ave",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Cherokee",
                       "short_name" : "Cherokee",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Rock"[...]
