---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=to,%20tcity&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Pinetop-Lakeside",
                       "short_name" : "Pinetop-Lakeside",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Navajo County",
                       "short_name" : "Navajo County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Arizona",
                       "short_name" : "AZ",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Pinetop-Lakeside, AZ, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 34.198573,
                          "lng" : -109.9099821
                       },
                       "southwest" : {
                          "lat" : 34.108779,
                          "lng" : -110.024834
                       }
                    },
                    "location" : {
                       "lat" : 34.1425438,
                       "lng" : -109.9603843
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 34.198573,
                          "lng" : -109.9099821
                       },
                       "southwest" : {
                          "lat" : 34.108779,
                          "lng" : -110.024834
                       }
                    }
                 },
                 "partial_match" : true,
                 "place_id" : "ChIJM-VRVvHJKIcRiOivLwt9hGA",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 24 Aug 2016 20:19:15 GMT
recorded_with: VCR 3.0.3
