---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Toledo,%20OH&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Toledo",
                       "short_name" : "Toledo",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Lucas County",
                       "short_name" : "Lucas County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Ohio",
                       "short_name" : "OH",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Toledo, OH, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 41.7328441,
                          "lng" : -83.4547053
                       },
                       "southwest" : {
                          "lat" : 41.5802659,
                          "lng" : -83.69423700000002
                       }
                    },
                    "location" : {
                       "lat" : 41.6639383,
                       "lng" : -83.55521200000001
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 41.7328441,
                          "lng" : -83.4547053
                       },
                       "southwest" : {
                          "lat" : 41.5802659,
                          "lng" : -83.69423700000002
                       }
                    }
                 },
                 "place_id" : "ChIJeU4e_C2HO4gRRcM6RZ_IPHw",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 30 Aug 2016 02:55:02 GMT
recorded_with: VCR 3.0.3
