---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=100%20Main,%20Cleveland,%20Cleveland&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "100",
                       "short_name" : "100",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "West Main Street",
                       "short_name" : "W Main St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Cleveland",
                       "short_name" : "Cleveland",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_[...]
