---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=,%20,%20Toledo,%20Oh,%2043601,%20&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "43601",
                       "short_name" : "43601",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "Southside",
                       "short_name" : "Southside",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                       "long_name" : "Toledo",
                       "short_name" : "Toledo",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Lucas County",
                       "short_name" : "Lucas County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Ohio",
                       "short_name" : "OH",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Toledo, OH 43601, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 41.642891,
                          "lng" : -83.54173
                       },
                       "southwest" : {
                          "lat" : 41.6396018,
                          "lng" : -83.5459079
                       }
                    },
                    "location" : {
                       "lat" : 41.6411077,
                       "lng" : -83.54366259999999
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 41.642891,
                          "lng" : -83.54173
                       },
                       "southwest" : {
                          "lat" : 41.6396018,
                          "lng" : -83.5459079
                       }
                    }
                 },
                 "place_id" : "ChIJkaFGN9aGO4gRxl-Ntmgm9-w",
                 "types" : [ "postal_code" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sat, 20 Aug 2016 17:01:50 GMT
recorded_with: VCR 3.0.3
