.disp-conv-area {
  min-height: 200px;
}

.conv-alert {
  background-color: #f6b7b0;
}

.conv-normal {
}

.disp-ride-area {
  min-height: 200px;
}

.disp-text-alert {
  color: #B00100;
  font-weight: bold;
}

.conv-status-messaging {
  visibility: visible;
}
.conv-status-help_needed {
  visibility: visible;
}
.conv-status-scheduled {
  visibility: visible;
}
.conv-status-waiting_assignment {
  visibility: visible;
}
.conv-status-assignment_overdue {
  visibility: visible;
  background-color: #f6e0e0;
}
.conv-status-waiting_pickup {
  visibility: visible;
}
.conv-status-pickup_overdue {
  visibility: visible;
  background-color: #f6e0e0;
}
.conv-status-driving {
  visibility: visible;
}
.conv-status-completion_overdue {
  visibility: visible;
}
.conv-status-complete {
  visibility: visible;
}
.ride-img {
  width: 15px;
  height: 22px;
}