html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 45px;
}

p, div {
  font-size: 15px;
}

td {
  vertical-align: top;
  border: 0px solid gray;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  margin-top: 80px;
  margin: auto;
  
  .privacy {
    margin: 5px 150px 0 0;
  }

  .center {
    margin: 0 auto;

    table {
      display: inline;
      text-align: center;

      .email {
        font-size: 14px;
        padding: 9px 0 0 5px;
      }
    }
  }
}

#logo {
  width: 90px;
  height: 47px;
}

h1.hed {
  text-align: center;
}
h2.subhed {
  text-align: center;
}

.navbar {
  background-color: white;
  border: 0;
  box-shadow: none !important
}

.navbar-default {
  background-color: white;
  border: 0;
  box-shadow: none !important
}

.navbar-static-top {
  background-color: white;
  border: 0;
  box-shadow: none !important
}

.nav-links {
  margin-top: 10px;
  font-size: 12px;
}

.locale-active {
  margin-top: 7px;
  font-weight: bold;
  color: #34495e;

}

.locale-inactive {
  margin-top: 7px;
  color: #aaa;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// Errors when form validation fails
#error_explanation {
  float: none;
  display: block;
  margin: 30px 0 20px 20px;
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px -30px;
    li {
      margin-left: -10px;
      padding-left: 0;
    }
  }
}

form {
  .notify { margin-bottom: 4px; }
  .field, .actions { margin-top: 15px; }
  .btn {margin-bottom: 30px; }
  td { vertical-align: top;}
  label { margin-top: 10px; font-weight: normal;}
}

.admin {
  width: 100%;
  small { margin-left: 30px; }
  td { padding: 5px 20px 5px 0;}
  th {
    font-weight: normal;
    margin-bottom: 10px;
    padding-right: 20px;
  }
  .msg {
    width: 20px;
  }
}

.admin-only {
  background-color: #ffff99;
}

.description {
  text-align: left;
  font-size: 20px;
  margin: 0 0 40px 0;

  h1,
  h2,
  h3 {
    text-align: center;
  }
  h1 {
    font-size: 55px;
    margin-bottom: 0;
    margin-top: 0;
  }
  .how-it-works {
    margin-top: 40px;
  }
  .subhed {
    text-align: center;
    font-size: 20px;
    margin-top: 5px;
    font-weight: 700;
  }
  h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

.btns {
  margin-top: 40px;
  border: 0px solid grey;
  margin-left: auto;
  margin-right: auto;
}
.btn-home {
  width: 250px;
  margin-bottom: 20px;
  font-weight: normal;
}
.btn-lft {
  margin-right: 10px;
}
.btn-rgt {
  margin-left: 10px;
}

.later {
  margin: 30px 0 20px 0;
}

.sign_up {
  margin: 10px 0 20px 0;
  font-size: 11px;
}


// Dispatch page:

h3.dispatch { margin: 0 0 0 10px; }

.dispatch-links {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  font-size: 13px;
  font-weight: normal;
  margin-left: 20px;
  color: #444;
}

.dispatch-xtras {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  border: 0px solid red;
  font-size: 18px;
  color: #444;
  opacity: 0.5;
  margin-top: -3px;
}

.dispatch-filters {
  font-weight: normal;
  font-size: 13px;
  padding: 4px 10px;
  margin: 10px 0;
}

#conversations {
  .nav {
    float:right;
    color: #ccc;
    font-size: 12px;
  }
  .sm {
    color: #ccc;
    font-size: 12px;
  }
}

#dispatch-map { height: 500px; margin: 1em 0; }
.key { border: 0px solid #ddd; }
.key-pin-cell { padding-right: 10px; }
.key-pin-img { width: auto; height: 42px;}
.key-label {font-size: 16px; font-weight: bold; padding-right: 40px; padding-bottom: 30px;}

#dispatch-map-lg { margin: 1em 0; }

#conversations, #rides {
  font-size: 12px;
  thead, th {
    border: none !important;
  }
  .btn-conv, .btn-ride {
    padding-left: 14px !important;
    padding-right: 14px !important;
  }
}

.btn-filters {
  margin: -10px 0 10px 0;
  font-size: 12px;
}

#conv-modal .modal-body {
  max-height: 500px;
  height: 500px;
}

#conv-modal-title {
  font-size: 25px;
  padding-right: 30px;
  color: #777;
  span {
    font-size: 18px;
  }
}

.archive-convo .block-convo .unblock-convo {
  margin-top: 10px;
}

.modal-ride-status {
  display: inline-block;
  background-color: #ccc;
  color: white;
  //width: 140px;
  padding: 2px 7px 2px 5px;
  margin: 0 0 10px -4px;
  font-size: 12px;
}

// messages pane in conversation modal
.messages {
  border: 1px solid #ccc;
  width: 400px;
  max-height: 250px;
  overflow-y: auto;
  margin-bottom: 10px;
}
// all this webkit stuff is to keep the messages pane scrollbar visible on osx
.messages::-webkit-scrollbar {
  -webkit-appearance: none;
}
.messages::-webkit-scrollbar:vertical {
  width: 11px;
}
.messages::-webkit-scrollbar:horizontal {
  height: 11px;
}
.messages::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white; /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, .5);
}
.messages::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 8px;
}

.message {
  border-bottom: 1px solid #ddd;
  width: 95%;
  margin:5px;
  padding: 5px 5px 10px 5px;
  font-size: 13px;
}
.msg-timestamp {
  font-style: italic;
  color: #777;
  font-size: 13px;
}
.msg-body {
  margin: -5px 0 10px 0;
  font-size: 14px;
  line-height: 20px;
}
.msg-reply {
  margin: 0 0 0 5px;
  textarea {
    width: 400px;
  }
}

#msg-input {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  background-color: white;
  background-color: -moz-field;
  border: 1px solid darkgray;
  box-shadow: 1px 1px 1px 0 lightgray inset;
  font: -moz-field;
  font: -webkit-small-control;
  font-size: 14px;
  margin: 5px 2px 10px 0;
  padding: 2px 3px;
  width: 400px;
  height: 55px;
}

.conv-label {
  height: 40px;
  width: 150px;
  color: #999;
  font-size: 14px;
  font-weight: bold;
  padding-right: 20px;
}

.conv-field {
  height: 40px;
  margin-left: 20px;
}

@keyframes yellowfade {
  from {
    background: yellow;
  }
  to {
    background: transparent;
  }
}

.item-highlight {
  animation: yellowfade 1s;
}



.schedule {
  margin: 10px 0 0 15px;
}

.to_or_from {
  margin: 0 0 -10px 15px;
  font-size: 22px;
}



@media(max-width:992px) {
  
  .btn-home {
    width: 220px;
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: normal;
  }
  .btn-lft {
    margin-right: 10px;
  }
  .btn-rgt {
    margin-left: 10px;
  }
}

@media(max-width:768px) {
  
  .privacy {
    display: none;
  }
}


@media(max-width:480px) {

  .btn-home {
    width: 180px;
    font-size: 14px;
    padding-left: 2px;
    padding-right: 2px;
    margin-bottom: 20px;
    font-weight: normal;
  }
  .btn-lft {
    margin-right: 5px;
  }
  .btn-rgt {
    margin-left: 5px;
  }

  body {
    margin-bottom: 60px;
  }

  #logo {
    width: 76px;
    height: 40px;
  }

  h1.hed {
    font-size: 40px;
  }
  h2.subhed {
    font-size: 16px;
  }

  .schedule {
    margin: 0px 0 0 15px;
    font-size: 30px;
  }

  .to_or_from {
    font-size: 20px;
  }

}
