.loc-active {
  margin-top: 7px;
  font-weight: bold;
  color: #34495e;
  font-size: 12px;
}
.loc-inactive {
  margin-top: 7px;
  color: #aaa;
  font-size: 12px;
}

#error_explanation {
  float: none;
  display: block;
  margin-top: 100px;
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

form {
  .notify { margin-bottom: 4px; }
  .field, .actions { margin-top: 15px; }
  .btn {margin-bottom: 30px; }
  td { vertical-align: top;}
  label { margin-top: 10px; font-weight: normal;}
}

.admin {
    small { margin-left: 30px; }
    td { padding: 5px 20px 5px 0;}
    th {
      font-weight: normal;
      border-bottom: 1px solid #ddd;
      margin-bottom: 10px;
      padding-right: 20px;
    }
}

p, div {
  font-size: 15px;
}

td {
  vertical-align: top;
  border: 0px solid gray;
}

.admin-only {
  background-color: #ffff99;
}

.description {
  text-align: left;
  font-size: 20px;
  margin: 0 0 40px 0;

  h1 h2 h3 {
    text-align: center;
  }
  h1 {
    font-size: 55px;
    margin-bottom: 0;
  }
  .how-it-works {
    margin-top: 40px;
  }
  h2 {
    text-align: center;
    font-size: 20px;
    margin-top: 5px;
  }
  h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

.volunteer {
  text-align: center;
  margin: 40px 0 10px 0;
}

.btn-home {
  width: 350px;
  margin-bottom: 20px;
  font-weight: bold;
}

.later {
  margin: 30px 0 20px 0;
}

.sign_up {
  margin: 10px 0 20px 0;
  font-size: 11px;
}