p, div {
  font-size: 15px;
}

td {
  vertical-align: top;
  border: 0px solid gray;
}

.description {
  margin: 0 0 40px 0;
  font-size: 20px;
}

.volunteer {
  margin-bottom: 10px;
}

.btn-home {
  width: 350px;
  margin-bottom: 20px;
  font-weight: bold;
}

.later {
  margin: 30px 0 20px 0;
}

.sign_up {
  margin: 10px 0 20px 0;
  font-size: 11px;
}

.how_ridesharing_works {
  font-size: 28px;
  margin: 0 0 20px 0;
}

.instructions {
  margin: 30px 0 30px 0;
}

.number {
  font-size: 45px;
  padding-right: 20px;
}

.instruction {
  padding: 10px 10px 20px 0;
  text-align: left;
  font-size: 20px;
  line-height: 26px;
}