// Errors when form validation fails

#logo {
  width: 90px;
  height: 47px;
}

.navbar { background-color: white; border: 0; box-shadow: none !important }
.navbar-default { background-color: white; border: 0; box-shadow: none !important }
.navbar-static-top { background-color: white; border: 0; box-shadow: none !important }

.nav-links {
  margin-top: 10px;
  font-size: 12px;
}

.locale-active {
  margin-top: 7px;
  font-weight: bold;
  color: #34495e;

}

.locale-inactive {
  margin-top: 7px;
  color: #aaa;
}

p, div {
  font-size: 15px;
}

td {
  vertical-align: top;
  border: 0px solid gray;
}

#error_explanation {
  float: none;
  display: block;
  margin-top: 100px;
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

form {
  .notify { margin-bottom: 4px; }
  .field, .actions { margin-top: 15px; }
  .btn {margin-bottom: 30px; }
  td { vertical-align: top;}
  label { margin-top: 10px; font-weight: normal;}
}

.admin {
  small { margin-left: 30px; }
  td { padding: 5px 20px 5px 0;}
  th {
    font-weight: normal;
    margin-bottom: 10px;
    padding-right: 20px;
  }
  .msg {
    width: 20px;
  }
}

.admin-only {
  background-color: #ffff99;
}

.description {
  text-align: left;
  font-size: 20px;
  margin: 0 0 40px 0;

  h1 h2 h3 {
    text-align: center;
  }
  h1 {
    font-size: 55px;
    margin-bottom: 0;
  }
  .how-it-works {
    margin-top: 40px;
  }
  h2 {
    text-align: center;
    font-size: 20px;
    margin-top: 5px;
  }
  h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

.volunteer {
  text-align: center;
  margin: 40px 0 10px 0;
}

.btn-home {
  width: 350px;
  margin-bottom: 20px;
  font-weight: bold;
}

.later {
  margin: 30px 0 20px 0;
}

.sign_up {
  margin: 10px 0 20px 0;
  font-size: 11px;
}


// Dispatch page:


h3.dispatch { margin: 0 0 0 10px; }

.dispatch-filters {
  font-weight: normal;
  font-size: 13px;
  padding: 4px 10px;
  background-color: #ddd;
  margin: 30px 0;
}
.dispatch-links {
  font-size: 14px;
  font-weight: normal;
  margin-left: 20px;
  color: #444;
}
#conversations {
  .nav {
    float:right;
    color: #ccc;
    font-size: 12px;
  }
  .sm {
    color: #ccc;
    font-size: 12px;
  }
}

#dispatch-map { height: 500px; margin: 1em 0; }

#dispatch-map-lg { margin: 1em 0; }

#conversations, #rides {
  font-size: 12px;
  thead, th {
    border: none !important;
  }
  tr.clickable { cursor: pointer; }
  .btn-conv, .btn-ride {
    padding-left: 14px !important;
    padding-right: 14px !important;
  }
}

.btn-filters {
  margin: -10px 0 10px 0;
  font-size: 12px;
}

.modal-title{
  color: #777
}

// messages pane in conversation modal
.messages {
  border: 1px solid #ccc;
  width: 400px;
  max-height: 250px;
  overflow-y: auto;
  margin-bottom: 10px;
}
// all this webkit stuff is to keep the messages pane scrollbar visible on osx
.messages::-webkit-scrollbar {
  -webkit-appearance: none;
}
.messages::-webkit-scrollbar:vertical {
  width: 11px;
}
.messages::-webkit-scrollbar:horizontal {
  height: 11px;
}
.messages::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white; /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, .5);
}
.messages::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 8px;
}

.message {
  border-bottom: 1px solid #ddd;
  width: 95%;
  margin:5px;
  padding: 5px;
  font-size: 13px;
}
.msg-timestamp {
  font-style: italic;
  color: #777;
  font-size: 13px;
}
.msg-body {
  margin: -5px 0 10px 0;
  font-size: 14px;
  line-height: 20px;
}
.msg-reply {
  margin: 0 0 0 5px;
  textarea {
    width: 400px;
  }
}

#msg-input {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  background-color: white;
  background-color: -moz-field;
  border: 1px solid darkgray;
  box-shadow: 1px 1px 1px 0 lightgray inset;
  font: -moz-field;
  font: -webkit-small-control;
  font-size: 14px;
  margin: 5px 2px 10px 0;
  padding: 2px 3px;
  width: 400px;
  height: 55px;
}

#msg-count {
  margin: 0px 310px 0 0;
  color: #999;
  font-size: 18px;
  font-weight: bold;
}

.conv-label {
  height: 40px;
  width: 135px;
  color: #999;
  font-size: 15px;
  font-weight: bold;
  padding-right: 20px;
}
.conv-field {
  height: 40px;
  margin-left: 20px;
}