%h1
  = @user.name
  - if current_user.has_role?(:admin)
    &nbsp;
    %small
      = link_to 'Edit', edit_admin_user_path(current_user), class: 'btn btn-default'

%p
  @user.description

%p
  Roles:

%p
  Driving for Ride Zones:
  - RideZone.find_roles(:driver, @user).each do |rz|
    %div
      = rz.name
