

%footer
  .privacy.pull-right
    = link_to 'privacy', privacy_path
    
  %div{class: "container#{(@fluid.present?) ? '-fluid' : ''}"}
    .center
      %table
        %tr
          %td.email
            #{mail_to 'hello@drive.vote', 'hello@drive.vote'}

:javascript
  window.twttr = (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
      t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);

    t._e = [];
    t.ready = function(f) {
      t._e.push(f);
    };

    return t;
  }(document, "script", "twitter-wjs"));