

%footer
  .privacy.pull-right
    = link_to 'privacy', privacy_path
    
  %div{class: "container#{(@fluid.present?) ? '-fluid' : ''}"}
    .center
      %table
        %tr
          %td.email
            #{mail_to 'hello@drive.vote', 'hello@drive.vote'}
