.col-sm-8.col-sm-offset-2.text-center
  %p{style: 'margin-top: 20px;'}
    = t(:help_others)

.col-sm-8.col-sm-offset-2.text-center{style: 'margin-bottom: 10px;'}

  %a.btn.btn-block.btn-social.btn-facebook{href: "http://www.facebook.com/sharer/sharer.php?u=https://www.drive.vote", target: '_blank', style: 'width: 90%; margin: 0 auto'}
    %span.fa.fa-facebook
    = t(:share_on_facebook)

  %br

  %a.btn.btn-block.btn-social.btn-twitter{href: "http://twitter.com/intent/tweet?text=Give%20or%20get%20free%20rides%20to%20the%20polls%20with%20Drive%20the%20Vote!&amp;url=https://www.drive.vote&amp;via=drivevote&amp;related=wordie", target: '_blank', style: 'width: 90%; margin: 0 auto'}
    %span.fa.fa-twitter
    = t(:share_on_twitter)
