---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=28.533609,-81.406011&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "764",
                       "short_name" : "764",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "South Tampa Avenue",
                       "short_name" : "S Tampa Ave",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Southwest Orlando",
                       "short_name" : "Southwest Orlando",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
     [...]
