<p id='pickupdaytime'>
  <input type="hidden" id="ride_pickup_at_1i" name="ride[pickup_at(1i)]" value="2016" />
  <select id="ride_pickup_at_2i" name="ride[pickup_at(2i)]" required>
    <option value="11" selected>Nov</option>
  </select>
  <select id="ride_pickup_at_3i" name="ride[pickup_at(3i)]" required>
    <option value="">day</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8" selected>8</option>
  </select>
   &mdash; <select id="ride_pickup_at_4i" name="ride[pickup_at(4i)]" required>
    <option value="">hour</option>
    <option value="05">05 AM</option>
    <option value="06">06 AM</option>
    <option value="07">07 AM</option>
    <option value="08">08 AM</option>
    <option value="09">09 AM</option>
    <option value="10">10 AM</option>
    <option value="11">11 AM</option>
    <option value="12">12 PM</option>
    <option value="13">01 PM</option>
    <option value="14">02 PM</option>
    <option value="15">03 PM</option>
    <option value="16">04 PM</option>
    <option value="17">05 PM</option>
    <option value="18">06 PM</option>
    <option value="19">07 PM</option>
    <option value="20">08 PM</option>
    <option value="21">09 PM</option>
    <option value="22">10 PM</option>
  </select>
   : <select id="ride_pickup_at_5i" name="ride[pickup_at(5i)]" required>
    <option value="">minute</option>
    <option value="00" selected>00</option>
    <option value="05">05</option>
    <option value="10">10</option>
    <option value="15">15</option>
    <option value="20">20</option>
    <option value="25">25</option>
    <option value="30">30</option>
    <option value="35">35</option>
    <option value="40">40</option>
    <option value="45">45</option>
    <option value="50">50</option>
    <option value="55">55</option>
  </select>
</p>